html {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
p {
  margin: .1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.item {

}

.f-or-b {
  background-color: blue;
  color: white;
}
.fizzbuzz {
  background-color: red;
  color: white;
}